*{
    margin: 0;
    padding: 0;
}

.nav-links
{
    display: none;
}
.nav-items:hover .nav-links
{
    display: block;
    padding: 10px;
}

.right-menu li
{
    display: inline-block;
    margin-top: 30px !important;    
}
.right-menu li .fa
{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar-brand img
{
    margin-left: -100px;
    height: 60px;
    width: 160px;
}
.navbar-brand 
{
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    position: absolute;
}

.header
{
    background: #dbd3d1;
    margin-bottom: 80px;
}

.navbar
{
    padding: 0 35px !important;
}

.navbar-toggler
{
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin-top: 30px;
}
.navbar-toggler .fa
{
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (max-width:700px) {
    .navbar-brand img{
        margin-top: -10px;
        margin-left: 10px;
        height: 40px;
        width: 130px;
    }
    .header{
        background: #eec4b8;
    }
}

/*-----Video-----*/
.videoBG
{
    position: fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9)
{
.videoBG
    {
    width: 100%;
    height: auto;    
    }
}
@media (max-aspect-ratio: 16/9)
{
.videoBG
    {
    width: auto;
    height: 100%;    
    }
}
@media (max-width: 767px)
{
.videoBG
    {
    display: none;    
    }
body
    {
        background: url('Screenshot.png');
        background-size: cover;
    }
}

/*-----Supplements-----*/
.Supplements-box
{
    margin: 80px 0;
}

.title-style-01 h2
{
    padding: 40px 0;
}
.title-style-01
{
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0,0,50,0.5);
}
.title-style-01::after
{
    content: '';
    height: 100px;
    width: 200px;
    background-color: greenyellow;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.title-style-01::before
{
    content: '';
    height: 100px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

/*---Supplements Box---*/

.card
{
    box-shadow: 0 40px 8px 0 rgba(0, 0, 0, 0.2);
    width: 402px;
    height: 696px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
}

.card img
{
    width: 400px;
    height: 500px;
}

.price
{
    color: cornflowerblue;
    font-size: 22px;
}
.card button
{
    border: none;
    outline: 0;
    padding: 12px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover
{
    opacity: 0.7;
}

.row
{
    float: left;
    padding-left: 90px;
    padding-bottom: 30px;
}

@media only screen and (max-width:700px){
    .card
    {
        box-shadow: 0 20px 4px 0 rgba(0, 0, 0, 0.2);
        width: 300px;
        height: 650px;
        position: relative;
        left: -40px;
        margin-bottom: 30px;
    }
    .card button{
    border: none;
    outline: 0;
    padding: 6px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }
    .row{
    padding-bottom: 20px;
    }
}

/*-----Design-----*/
.design
{
    text-decoration-line: overline;
    text-decoration-style: double;
}